.contact-information h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
}

.contact-information .container h5 {
	float: right;
}

.contact-information .container p {
	margin-top: 50px;
}

.contact-information .container .col-md-6 {
	border-bottom: 3px solid #333333;
}

.contact-information .container .pull-right {
	margin-top: 20px;
}

.contact-information .container .pull-right img {
	margin-top: 10px;
}

.skills h2 {
	font-family: 'Oswald', sans-serif;
}

.skills ul {
	list-style-type: square;
}

.skills li {
	margin-bottom: 10px;
}

.experience .col-md-9 {
	margin-top: 20px;
}

.experience h2 {
	font-family: 'Oswald', sans-serif;
}

.experience h3 {
	font-size: 35px;
}

.experience h4 {
	font-style: oblique;
	font-size: 20px;
}

.experience .jumbotron {
	height: 206px;
	width: 848px;
	background-image: url("computerlab.png");
	padding: 0px;
}

.whitestroke {
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
